<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Projects</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'workblog/style.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="My projects"> 
        <meta name="keywords" content="programming, project, learning">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- Custom font -->
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    </head>
    <body>
        <!-- Navigation bar (left side) -->
        <nav>
            <ul>
                <!-- Orange button to homesite -->
                <li id="home"><a id="home_btn" href="{% url 'workblog:index' %}">Rok Klančar</a></li>
                <li><a href="{% url 'workblog:projects' %}">Projects</a></li>
                <li><a href="{% url 'workblog:blog' %}">Work Blog</a></li>
            </ul>
        </nav>
        <!-- Content (right side) -->
        <main>
            <!-- Content that is disclaiming the purpose of this page -->
            {% if projects %}
                {% for project in projects %}
                <article>
                    <h2 class="projecttitle">{{ project.title }}</h3>
                    <p><a href="{{ project.github_url }}" target="_blank">GitHub</a></p>
                    <p><a href="{{ project.site_url }}" target="_blank">Live site</a></p>
                    <br>
                    <p>{{ project.description }}</p>
                    <hr class="projecthr">
                </article>
                {% endfor %}
            {% else %}
            <article id="disclaimer">
                <p>
                    No projects yet to show.
                </p>
            {% endif %}
        </main>
    </body>
</html>